* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

body 
{
    background-color: #26203d;
}

.buttons
{
    display: block;
    font-size: 30px;
    border-radius: 25px;
    width: auto;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: #eed5ff;
    color:#26203d;
}

.buttons:hover{
    background-color: #26203d;
    color: #eed5ff;
    opacity: 80%;
}

#welcome-title{
    display: inline-block;
    font-size: 2.4em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #dadfe1;
}


.searchContainer {
    position: relative;
    max-width: 800px;
    max-height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: grid; 
    grid-template-columns: 1fr 60px 60px;
}
#searchText{
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}
#addContactIcon {
    pointer-events: none;
    width: 40px;
    height: auto;
    object-fit: contain;
    justify-self: center;
    pointer-events: auto;
    cursor: pointer;
}
#searchContactIcon {
    pointer-events: none;
    width: 40px;
    height: auto;
    object-fit: contain;
    justify-self: center;
    pointer-events: auto;
    cursor: pointer;
}

.loginBody {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;    
}
.loginContainer {
    background-color:#eed5ff;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.25);
    border-radius: 18px;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    color: #26203d;
}
.loginContainer h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}
.loginGroup {
    margin-bottom: 40px;
}
.loginGroup label {
    display: block;
    margin-bottom:4px;
    font-size: 10.5pt;
    font-weight: 500;
}
.loginGroup .inputField {
    border-radius: 8px;
    height: 38px;
    padding-left: 10px;
    font-size: 11.5pt;
    text-align: left;
    width: 100%;
}
.invalidLoginError {
    display: block;
    text-align: center;
    margin-bottom: 4px; 
}
#loginButton {
    width: 100%;
    border-radius: 8px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.25);
    font-size: 16pt;
    margin-bottom: 10px;
}
.createAccountLink {
    margin-top: 10px;
    text-align: center;
}
.createAccountLink #createAccountPrompt {
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
}



/* * {
    outline: 1pt solid yellow;
} */
.inputField:focus {
    outline: 2pt solid #3f276e;
}
.inputError {
    color: darkred;
    max-height:100%;
    font-weight: 500;
}


.registerBody {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    font-family:'Ubuntu', sans-serif;
}
.registerWelcomeBlock {
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #eed5ff;
}
#registerWelcome {
    margin-bottom: 20px;
}
.registerInputBlock {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eed5ff;
    max-width: 40vw;
    min-width: 520px;
}
.registerInputTitle {
    color:#26203d;
    margin-top: 40px;
}
.registerInputContainer {
    max-width: 450px;
    width: 100%;
    margin-bottom: 55px;
}
.registerInputContainer.registerAccount {
    margin-bottom: 10px;
}
#errorIcon {
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-top: -5px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(85%) saturate(7482%) hue-rotate(357deg) brightness(91%) contrast(117%);
}
/* * {
    outline: 1pt solid yellow;
} */
.registerLabel {
    text-align: left;
    display: block;
    color:#26203d;
    font-weight: 500;
    font-size: 10.5pt;
    margin-bottom: 4px;
}
.registerInputBlock .inputField {
    border-radius: 8px;
    height: 38px;
    padding-left: 10px;
    font-size: 11.5pt;
    text-align: left;
    width: 100%;
}
.requiredSymbol {
    color: red;
}
#requiredNotice {
    text-align: center;
    color: red;
    font-weight: 500;
    font-size: 10.5pt;
    margin-bottom: 10px;
}
#registerAccountButton {
    width: 100%;
    border-radius: 8px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.25);
    font-size: 16pt;
    margin-bottom: 10px;
}
.registerInputContainer.loginReturn {
    text-align:center;
}
#loginReturn{
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
}
@media (max-width: 1024px){
    .registerBody {
        flex-direction: column;
    }
    .registerWelcomeBlock,
    .registerInputBlock {
        max-width: 100%;
        width: 100%;
        min-height: 140px;
    }
}

/* * {
    outline: 1pt solid yellow;
} */



.contactBlock {
    max-width: 550px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
}
#contactSearchResult {
    display: block;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ff87f1;
    font-size: 1.6em;
}
.contactList {
    display: block;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    margin-top: 2%;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    color: #151222;
}
.contact{
    border: 1px solid #ff87f1;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #eed5ff;
}
.contactName {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.contactList .contactName::-webkit-details-marker {   
    display: none;
}
.contactDropdown {
    padding: 5px;
    padding-top: 20px;
    background-color: #2a2445;
    border-bottom: 1px solid #201b34;
    border-top: 1px solid #ff87f1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.contactInfo {
    display: flex;
    margin: -10px 0px 10px 0px;
    color: #eed5ff;
    justify-content: space-between;
    align-items: center;
}
.updateContactInput {
    display: inline-block;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgreen;
    padding: 10px;
    font-size: 18px;
}

.navbar .center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .left a {
    padding: 10px 15px;
    text-decoration: none;
}

.navbar .left a:hover {
    background-color: gray;
}

.navbar .right {
    margin-left: auto;
}

.navbar .right a.logout{
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    /* font-weight: bold; */
}

.navbar .right a.logout:hover {
    background-color: #c0392b;
}