* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Blackadder ITC Std Regular';
    src: url("../fonts/blackadder-itc/Blackadder\ ITC\ Std\ Regular.otf");
}

.pirate-scrawl {
    font-family: 'Blackadder ITC Std Regular', sans-serif !important;
}
.typewriter-text {
    font-family: 'IM Fell DW Pica', sans-serif !important;
}
.typewriter-text-capital {
    font-family: 'IM FELL English SC', sans-serif !important;
}
.pirata-one {
    font-family: 'Pirata One', sans-serif !important;
    letter-spacing: 1px;
}
.trade-winds{
    font-family: 'Trade Winds', sans-serif !important;
}

body 
{
    background-image: url('../imgs/pirate_ship_background.jpg');
    /* background-size: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: top center; */
    background-color:#212524;
}

.buttons
{
    display: block;
    font-size: 30px;
    border-radius: 25px;
    width: auto;
    margin: 0 auto;
    /* font-family: 'Pirata One', sans-serif; */
    background-color: #36241a;
    color:#ffceb2;
    border-color: #ffceb2; 
}

.buttons:hover{
    background-color: #7b2e04;
    color: #fdb287;
    opacity: 80%;
}

#listPageContainer,
#searchContactContainer,
#createContactContainer,
.contactListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#listPageContainer .contactListContainer {
    padding-top: 40px;
}
#listPageContainer .contactList {
    margin-top: 20px;
    border-top: 2px solid #212524;
    border-bottom: 2px solid #212524;
    border-radius: 6px;
}
#listPageContainer h1.typewriter-text-capital{
    margin: 0 auto;
    font-size: 36px;
    width: 600px;   
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #212524;
    word-spacing: 4px;
    
}

/* #listPageContainer .contactHeader {
    font-size: 18pt;
}
#listPageContainer .contactInfo {
    font-size: 20pt;
} */

.contactListContainer .contactHeader {
    font-size: 18pt;
}
.contactListContainer .contactInfo {
    font-size: 20pt;
}

.contactListContainer {
    max-width: 700px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    min-height:700px;
    justify-content: flex-start;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 50px;

    background-image:
        repeating-linear-gradient(0deg, rgba(0,0,0,.03) 0 1px, transparent 1px 5px),
        radial-gradient(120% 100% at 50% 10%, transparent 55%, rgba(0,0,0,.08) 100%),
        url('../imgs/list_background.png');
    background-blend-mode: multiply, normal;

    background-color: #ffceb2;
    border-radius: 8px;
    word-break: break-word;
    box-shadow: 0 6px 10px rgba(0,0,0, 0.6);
}

.contactListContainer .contactHeader h3 {
    max-width: 50%;
}
/* .searchHeader {
    font-size: 
} */
.searchInputContainer {
    max-width: 600px;
    width: 100%;
    /* padding-top: 30px; */
    padding-bottom: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1pt solid #212524;
}
#searchText
{
    width: 80%;
    height: 40px;    
    font-size: 30px;
    text-align: center;
    background-color: #f0c4a9;
    border-color: #f0c4a9;
}
.inputField.addContactText
{
    text-align: left;
    background-color: #f0c4a9;
    border-color: #f0c4a9;
}
.newContactGroup{
    margin-bottom: 40px;
}
.newContactGroup .errorContainer{
    color: #ff2600;
    /* font-family: 'Pirata One'; */
    letter-spacing: 1px;
}
.newContactGroup .errorContainer #errorIcon {
    height: 1em;
    width: auto;
    filter: brightness(0) saturate(100%) invert(18%) sepia(92%) saturate(7484%) hue-rotate(2deg) brightness(103%) contrast(102%);
}
.newContactGroup label{
    letter-spacing: 1px;
    /* font-family: 'Pirata One'; */
    font-size: 14pt;
}
.createContactBlock.contactListContainer{
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}
.createContactBlock h2{
    letter-spacing: 2px;
    text-align: center;
    /* font-family: 'Pirata One'; */
    color: #212524;
}
.createContactBlock form{
    margin-top: 20px;
}
#searchText:focus {
    outline: 3pt inset #f0c4a9;
}
.inputField.addContactText:focus {
    outline: 2pt inset #f0c4a9;
}
#addContactIcon {
    background-image: url('../imgs/add_contact_placeholder.png');
    pointer-events: none;
    width: 40px;
    height: auto;
    object-fit: contain;
    justify-self: center;
    pointer-events: auto;
    cursor: pointer;
}
#searchContactIcon {
    width: 40px;
    height: auto;
    object-fit: contain;
    justify-self: center;
    cursor: pointer;
}
#contactSearchResult {
    min-height: 42px;
    display: block;
    text-align: center;
    /* font-family: 'Ubuntu', sans-serif; */
    color: #212524;
}
.contactList {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow-y: auto;
    overflow-x: visible;

    max-width: 600px;
    width: 100%;
    margin-right: 40px; 
    margin-left: 40px;
    margin-bottom: 0px;
    padding: 0 20px 0 20px; 

    font-size: 1.2em;
    /* font-family: 'IM Fell DW Pica', sans-serif; */
     margin-top: 20px;
    border-top: 2px solid #212524;
    border-bottom: 2px solid #212524;
    border-radius: 6px;
    color: #212524;
}
.contactHeader {
    display: flex;
    justify-content:space-between;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.contactHeader #searchMatches{
    display: flex;
    flex-direction: column;
    color: #a75f35;
}
.contactDropdown {
    /* max-height: 0;
    opacity: 0;
    overflow: hidden; */
    transition:
        max-height 220ms ease,
        opacity 180ms ease;
    will-change: max-height, opacity;
}
.contact{
    border-bottom: 1px solid #212524;
    margin-bottom: 10px;
    /* background-color: #ffceb2; */
}
.contactList .contact:last-child{
    border: none;
}
.contact[open]{
    border-bottom-width: 2px;
    border-bottom-style:dashed;
}
.contactInfo {
    display: flex;
    margin: -10px 0px 10px 0px;
    color: #212524;
    justify-content: space-between;
    align-items: center;
}
.updateContactInput {
    display: inline-block;
}


.headerContainer {
    /* font-family: 'Trade Winds', cursive; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: 4px 6px 6px rgba(0,0,0, 0.6);
    letter-spacing: 2px;
}
.headerContainer.registerHeaderContainer {
    color: #212524;
    text-shadow: none;
    font-weight: 700;
}
.loginContainerHeader {
    color: rgb(241, 229, 53);
}
.headerContainer #upperLoginHead {
    font-size: 18pt;
}
.headerContainer #lowerLoginHead {
    font-size: 48pt;
}
.headerContainer #upperRegisterHead {
    font-size: 18pt;
}
.headerContainer #lowerRegisterHead {
    font-size: 64pt;
}

.inputField {
    background-color: #ffceb2;
    border-color: #ffceb2;
    color: #2b2c2b;
    width: 100%;
    text-align: left;
    /* font-family: 'IM Fell DW Pica'; */
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 14pt;
    border-radius: 8px;
    height: 38px;
    padding-left: 10px;
}
.inputField:focus {
    outline: 2pt solid #FFF001FF;
}
.loginBody {
    /* font-family: 'Pirata One', cursive; */
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;    
    text-shadow: 4px 6px 6px rgba(0,0,0, 0.4);
}
.loginContainer {
    background-color:#523829EE;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 18px;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    color: #ffceb2;
    box-shadow: 4px 4px 6px rgba(0,0,0, 0.4);
    outline: 1pt solid #d68454;
}
.loginContainer h2 {
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 30px;
    font-size: 4em;
}
.loginGroup {
    margin-bottom: 40px;
}
.loginGroup label {
    display: block;
    margin-bottom:4px;
    font-size: 14pt;
    font-weight: 500;
}
.errorContainer.invalidLoginError {
    justify-content: center;
}
#loginButton,
#addContactButton,
#registerAccountButton {
    width: 100%;
    border-radius: 8px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.25);
    font-size: 16pt;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.createAccountLink {
    margin-top: 10px;
    text-align: center;
}
.createAccountLink #createAccountPrompt {
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
}



.errorContainer {
    color: #FF6900;
    max-height:100%;
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 5px;
    text-shadow: none;
}
#errorIcon {
    height: 1em;
    width: auto;
    filter: brightness(0) saturate(100%) invert(47%) sepia(95%) saturate(2500%) hue-rotate(356deg) brightness(101%) contrast(101%);
}

.registerBody {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    /* font-family:'Pirata One', sans-serif; */
    letter-spacing: 1px;
}
.headerContainer.registerHeaderContainer {
    margin-top: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
#registerWelcome {
    margin-bottom: 20px;
}
.registerInputContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(82,56,41,0.9);
    backdrop-filter: blur(7px);
    color: #ffceb2;
    max-width: 40vw;
    min-width: 520px;
}
.registerInputTitle {
    margin: 40px 20px 20px 40px;
    font-size: 20pt;
    text-align: center;
    color: #FEE600FF;
    text-shadow: 4px 4px 6px rgba(0,0,0, 0.4);
}
.registerInputBlock {
    max-width: 450px;
    width: 100%;
    margin-bottom: 55px;
}
.registerInputBlock.registerAccount {
    margin-bottom: 10px;
}
.registerLabel {
    text-align: left;
    display: block;
    font-weight: 500;
    font-size: 14pt;
    margin-bottom: 4px;
}
.requiredSymbol {
    color: #fe7f35;
}
.requiredNotice {
    text-align: center;
    color: #ff8640;
    font-weight: 500;
    font-size: 10.5pt;
    margin-bottom: 10px;
}
.registerInputBlock.loginReturn {
    text-align:center;
}
#loginReturn{
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
}
@media (max-width: 1080px){
    .registerBody {
        flex-direction: column;
    }
    .registerInputContainer {
        max-width: 100%;
        width: 100%;
        min-height: 140px;
        max-height: 100%;
        flex: 1;
    }
    .headerContainer.registerHeaderContainer {
        background: none;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 0px;
        max-height: 160px;
    }
}

.landingPageBody  {
    /* background-image: url('../imgs/pirate_ship_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color:#212524; */
    height: 100vh;

    margin: 0 auto;
}




.navbar{
    /* font-family: 'IM Fell English SC', serif; */
    display: flex;
    align-items: center;
    background: #523829EE;
    color: #ffceb2;
    padding: 5px 0;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
}
.navbar a{
    cursor: pointer;
    padding: 15px 10px;
    text-decoration: none;
}

.navbar .center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .right {
    display: flex;
    justify-content: center;
}
.navbar .left {
    display: flex;
    justify-content: center;
}

.navbar .left,
.navbar .right {
    flex: 1 1 0;
}
.navbar .center {
    flex: 0 0 auto;
}


.navbar .left a:hover, .navbar .center a:hover {
    background-color: #ffd700;
    color: #212524;
}

.navbar .right a.logout:hover {
    background-color: #d1671f;
    color: #212524;
}