* {
    box-sizing: border-box;
}

body 
{
    /* background: none; */
    background-image: url('../imgs/pirate_ship_background.jpg');
    background-size: cover;
}

.buttons
{
    display: block;
    font-size: 30px;
    border-radius: 25px;
    width: auto;
    margin: 0 auto;
    font-family: 'Pirata One', sans-serif;
    background-color: #36241a;
    color:#ffceb2;
    border-color: #ffceb2; 
}

.buttons:hover{
    background-color: #7b2e04;
    color: #fdb287;
    opacity: 80%;
}

#welcome-title{
    display: inline-block;
    font-size: 2.4em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #212524;
}


#searchContactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchInput {
    position: relative;
    width: 100%;
    max-width: 800px;
    /* min-width: 400px; */
    max-height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: grid; 
    grid-template-columns: 1fr 60px 60px;
}
#searchText{
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}
#addContactIcon {
    background-image: url('../imgs/add_contact_placeholder.png');
    pointer-events: none;
    width: 40px;
    height: auto;
    object-fit: contain;
    justify-self: center;
    pointer-events: auto;
    cursor: pointer;
}
#searchContactIcon {
    width: 40px;
    height: auto;
    object-fit: contain;
    justify-self: center;
    cursor: pointer;
}
.contactBlock {
    max-width: 550px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
}
#contactSearchResult {
    display: block;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ff87f1;
    font-size: 1.6em;
}
.contactList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin-right: 40px; 
    margin-left: 40px;

    margin-top: 2%;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    color: #151222;
}
.contact{
    border: 1px solid #ff87f1;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #eed5ff;
}
.contactName {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.contactList .contactName::-webkit-details-marker {   
    display: none;
}
.contactDropdown {
    padding: 5px;
    padding-top: 20px;
    background-color: #2a2445;
    border-bottom: 1px solid #201b34;
    border-top: 1px solid #ff87f1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.contactInfo {
    display: flex;
    margin: -10px 0px 10px 0px;
    color: #eed5ff;
    justify-content: space-between;
    align-items: center;
}
.updateContactInput {
    display: inline-block;
}

.headerContainer {
    font-family: 'Trade Winds', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: 4px 6px 6px rgba(0,0,0, 0.6);
    letter-spacing: 2px;
}
.headerContainer.registerHeaderContainer {
    color: #212524;
    text-shadow: none;
    font-weight: 700;
}
.headerContainer #upperLoginHead {
    font-size: 18pt;
}
.headerContainer #lowerLoginHead {
    font-size: 48pt;
}
.headerContainer #upperRegisterHead {
    font-size: 18pt;
}
.headerContainer #lowerRegisterHead {
    font-size: 64pt;
}


.loginBody {
    font-family: 'Pirata One', cursive;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;    
    text-shadow: 4px 6px 6px rgba(0,0,0, 0.4);
}
.loginContainer {
    background-color:#523829EE;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 18px;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    color: #ffceb2;
    box-shadow: 4px 4px 6px rgba(0,0,0, 0.4);
    outline: 1pt solid #d68454;
}
.loginContainer h2 {
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 30px;
    font-size: 4em;
}
.loginGroup {
    margin-bottom: 40px;
}
.loginGroup label {
    display: block;
    margin-bottom:4px;
    font-size: 14pt;
    font-weight: 500;
}
.loginGroup .inputField {
    border-radius: 8px;
    height: 38px;
    padding-left: 10px;
    font-size: 11.5pt;
    text-align: left;
    width: 100%;
    background-color: #ffceb2;
    border-color: #ffceb2;
    color: #2b2c2b;
}
.errorContainer.invalidLoginError {
    justify-content: center;
}
#loginButton,
#registerAccountButton {
    width: 100%;
    border-radius: 8px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.25);
    font-size: 16pt;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.createAccountLink {
    margin-top: 10px;
    text-align: center;
}
.createAccountLink #createAccountPrompt {
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
}


.inputField:focus {
    outline: 2pt solid #ffceb2;
}
.errorContainer {
    color: #FF6900;
    max-height:100%;
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 5px;
    text-shadow: none;
}
#errorIcon {
    height: 1em;
    width: auto;
    filter: brightness(0) saturate(100%) invert(47%) sepia(95%) saturate(2500%) hue-rotate(356deg) brightness(101%) contrast(101%);
}

.registerBody {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    font-family:'Pirata One', sans-serif;
    letter-spacing: 1px;
}
.headerContainer.registerHeaderContainer {
    margin-top: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
#registerWelcome {
    margin-bottom: 20px;
}
.registerInputContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(82,56,41,0.9);
    backdrop-filter: blur(7px);
    color: #ffceb2;
    max-width: 40vw;
    min-width: 520px;
}
.registerInputTitle {
    margin: 40px 20px 20px 40px;
    font-size: 20pt;
    text-align: center;
}
.registerInputBlock {
    max-width: 450px;
    width: 100%;
    margin-bottom: 55px;
}
.registerInputBlock.registerAccount {
    margin-bottom: 10px;
}
.registerLabel {
    text-align: left;
    display: block;
    font-weight: 500;
    font-size: 14pt;
    margin-bottom: 4px;
}
.registerInputContainer .inputField {
    border-radius: 8px;
    height: 38px;
    padding-left: 10px;
    font-size: 11.5pt;
    text-align: left;
    width: 100%;
    background-color: #ffceb2;
    border-color: #ffceb2;
    color: #2b2c2b;
}
.requiredSymbol {
    color: #fe7f35;
}
.requiredNotice {
    text-align: center;
    color: #ff8640;
    font-weight: 500;
    font-size: 10.5pt;
    margin-bottom: 10px;
}
.registerInputBlock.loginReturn {
    text-align:center;
}
#loginReturn{
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
}
@media (max-width: 1080px){
    .registerBody {
        flex-direction: column;
    }
    .registerInputContainer {
        max-width: 100%;
        width: 100%;
        min-height: 140px;
        max-height: 100%;
        flex: 1;
    }
    .headerContainer.registerHeaderContainer {
        background: none;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 0px;
        max-height: 160px;
    }
}

.landingPageBody  {
    background-image: url('../imgs/pirate_ship_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    background-color:#212524;

    margin: 0 auto;
}




.navbar{
    font-family: 'IM Fell English SC', serif;
    display: flex;
    align-items: center;
    background: #523829EE;
    color: #ffceb2;
    padding: 5px 0;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
}
.navbar a{
    cursor: pointer;
    padding: 15px 10px;
    text-decoration: none;
}

.navbar .center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .right {
    display: flex;
    justify-content: center;
}
.navbar .left {
    display: flex;
    justify-content: center;
}

.navbar .left,
.navbar .right {
    flex: 1 1 0;
}
.navbar .center {
    flex: 0 0 auto;
}


.navbar .left a:hover, .navbar .center a:hover {
    background-color: gray;
}

.navbar .right a.logout:hover {
    background-color: #c0392b;
}